
<!-- <mat-sidenav-container >
        <mat-sidenav #sidenav >
          Jolly good!
        </mat-sidenav>
      
        
          <button type="button" mat-button (click)="sidenav.open()">
                <mat-icon>home</mat-icon> SchoFeat
          </button> -->
        
          <schofeat-app-header></schofeat-app-header>
          
          <schofeat-app-content></schofeat-app-content>
          
          <schofeat-app-footer></schofeat-app-footer>  
<!-- </mat-sidenav-container>
 -->
