<div>
  <schofeat-textbox placeholder="User Name" name="UserName" [group]="registrionGroup">
  </schofeat-textbox>

  <schofeat-textbox placeholder="Password" name="Password" [group]="registrionGroup" inputType="password">
  </schofeat-textbox>

  <schofeat-textbox placeholder="Re-enter Password" name="ReEnterPassword" [group]="registrionGroup" inputType="password">
  </schofeat-textbox>

  <schofeat-textbox placeholder="First Name" name="FirstName" [group]="registrionGroup">
  </schofeat-textbox>

  <schofeat-textbox placeholder="Last Name" name="LastName" [group]="registrionGroup">
  </schofeat-textbox>

  <schofeat-date-picker placeholder="Date Of Birth" name="BirthDate" [group]="registrionGroup" >    
  </schofeat-date-picker>

  <schofeat-select placeholder="Gender" name="Gender" [options]="gender" [group]="registrionGroup">
  </schofeat-select>

  <schofeat-textbox placeholder="Phone" name="Phone" [group]="registrionGroup" inputType="tel">
  </schofeat-textbox>

  <schofeat-textbox placeholder="Email" name="Email" [group]="registrionGroup">
  </schofeat-textbox>

</div>