:host{
    display:block;
    position:relative;
    box-sizing:border-box;
    max-width: 150px;
   
  }

  img{
    display:inline-block;
    position:relative;
    max-width: 150px;
    max-height: 150px;
    margin-bottom:5px;
  }
  input{
    display:none;
  }
  button{
    display:inline-block;
    position:relative;
    width:100%;
  }
  