<div [formGroup]="formGroup">

  <img *ngIf="displayImage" [src]="fileSource" />

  <button [disabled]="isDisabled" type="button" mat-raised-button color="primary" (click)="selectFile()" name="btnFileSelector">
    <span>{{placeholder}}</span>    
  </button>
  <ng-container *ngIf="!!uploadErrorMessage">
    <div class="we-error">{{uploadErrorMessage}}</div>
  </ng-container>

  <input [formControl]="control" [name]="name" [accept]="accept" type="file" (change)="onNativeInputFileSelect($event)" #inputFile />

</div>
